
<%- include('layout', { body: `
    <h1>Welcome to Todo List</h1>
    <div id="todo-list">
        <!-- Todo items will be dynamically added here -->
    </div>
    <form id="add-todo-form">
        <input type="text" id="new-todo" placeholder="Add a new todo">
        <button type="submit">Add</button>
    </form>
    ` }) %>